<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Vote | <%= election.name %> | Online Voting Platform</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <style type="text/tailwindcss">
        @tailwind base;
        @tailwind components;
        @tailwind utilities;
        @layer components {
            .input-field{
                @apply border border-gray-300/50 rounded p-2 w-full bg-white text-black shadow-lg shadow-gray-300/30 text-gray-800 text-sm;
            }
            .red-btn{
                @apply transition ease-linear delay-150 p-2 rounded-lg hover:text-white hover:bg-red-500 text-red-500 border-2 border-red-500;
            }
            .green-btn{
                @apply transition ease-linear delay-150 p-2 rounded-lg hover:text-white hover:bg-green-500 text-green-500 border-2 border-green-500
            }
            .yellow-btn{
                @apply transition ease-linear delay-150 p-2 rounded-lg hover:text-white hover:bg-yellow-500  text-yellow-500 border-2 border-yellow-500;
            }
            .purple-btn{
                @apply transition ease-linear delay-150 p-2 rounded-lg hover:text-white hover:bg-purple-500  text-purple-500 border-2 border-purple-500;
            }
            .blue-btn{
                @apply transition ease-linear delay-150 p-2 rounded-lg hover:text-white hover:bg-blue-500  text-blue-500 border-2 border-blue-500;
            }
        }
    </style>
  </head>
  <body class="bg-black/70 grid place-items-center min-h-screen">
    <div
      class="text-white w-1/2 rounded-xl p-5 shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px] bg-black m-10"
    >
      <div class="flex justify-between items-center py-4 gap-2">
        <p class="text-3xl font-semibold"><%= election.name %></p>
        <p class="text-xl rounded rounded-lg bg-white text-black p-2"><i class="bi bi-person-circle pr-2"></i><%= user.voterId %></p>
      </div>
      <div>
        <form action="/public/<%= election.id %>/cast" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="electionId" value="<%= election.id %>" />
            <input type="hidden" name="voterId" value="<%= user.id %>" />
            <ol>
            <% for(let i = 0; i < election.Questions.length; i++) { %>
            <li class="my-4 p-2 bg-gray-800 rounded-lg">
                <div>
                <h1 class="text-xl font-semifold" id="question-title-<%= election.Questions[i].id %>">
                    <%= i + 1 + ". " + election.Questions[i].title %>
                </h1>
                <h2 class="text-md text-gray-500" id="question-description-<%= election.Questions[i].id %>">
                    <%= election.Questions[i].description %>
                </h2>
                </div>
                <div>
                    <% for(let j = 0; j < election.Questions[i].Options.length; j++)
                    { %>
                    <div class="bg-gray-700 rounded-xl p-2 my-2 hover:bg-gray-500">
                        <input
                        name="question-<%= election.Questions[i].id %>"
                        type="radio"
                        value="<%= election.Questions[i].Options[j].id %>"
                        id="option-<%= election.Questions[i].Options[j].id %>"
                        required
                        >
                        <label for="option-<%= election.Questions[i].Options[j].id %>">
                            <%= election.Questions[i].Options[j].title %>
                        </label>
                    </div>
                    <% } %>
                </div>
            </li>
            <% } %>
            </ol>
            <div class="grid place-items-center">
                <button class="green-btn" type="submit">
                    <i class="bi bi-box-fill pr-2"></i>Cast Vote
                </button>
            </div>
        </form>
      </div>
    </div>
  </body>
</html>
